body{
    font-family: Roboto, sans-serif;
    background-color:  #e2d7aa;
    color: #000000 ;
    size: 16px;
    width: 90%;
    margin:0 auto;
    
}
nav{
    margin: 30px;
}
nav ul{
    text-align: center;
    list-style: none;
}
nav li{
    margin-left: 10px;
     display: inline-block;
     padding: 10px
     
}

a{
    size: 35px;
    color: #000000;
    text-decoration: none;
}
nav ul li:last-child{
    color: #0a2d4a ;
    font-weight: bold;
}
.home{
    color: #0a2d4a ;
    font-weight: bold;
}
h1{
    size: 100px;
    text-align: center;
    margin-top: 65px;
    font-family:cursive;
}
.img-container{
    width: 100%;
    height: 450px;
    margin-top: 65px;
}
img{
    width: 100%;
    height: 450px;
}

main article{
    width: 32%;
    float: left;
    text-align: justify;
    margin: 0 7px 0 7px;
}
article img{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}
article h2,h3{
    text-align:center;
}
article p::first-letter{
   text-transform: uppercase;
   font-family:EucrosiaUPC, sans-serif;
   font-size: 30px;
}
article h3 a{
    color: blue;
}
span a{
    background: url(/kim_tu_thap/images/bg2.jpg);
    color: #ffffff;
    padding: 5px;
    margin-top: 5px;
}
article p:last-of-type span:first-of-type a::before{
    content: url(/kim_tu_thap/images/comment.png);
    position: relative;
    right: 5px;
    top: 7px;
    padding: 10px;
}
footer{
     margin: 0px;
     padding: 10px 0 10px 0;
     text-align: center;
     clear: both;
}

